/*-- scss:defaults --*/
// Base document colors
$body-bg: white;
$navbar-bg: white;
$link-color: #75AADB;

// Code blocks
$code-block-bg-alpha: -.8;


body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.96),rgba(255, 255, 255, 0.96)) ,url("img/back7.png");
    background-size: 100% 100%;
    background-position: cover;
    background-repeat: no-repeat;
  }
